.ClassSchedule {
    text-align: left;
    background-color: #282C34;
    color: #69BBFF;
    padding: 1%;
    border-color:#ABB2BF;
    border-style: solid;
    border-width: 5%;
    border-radius: 10px;
}

.inner{
    margin:2%;
}

.schedule_txt {
    color: #E06C75;
}