.ClassQueue {
    text-align: center;
    background-color: #282C34;
    color: #69BBFF;
    border-color:#ABB2BF;
    border-style: solid;
    border-width: 5%;
    border-radius: 10px;
    margin:3%;
}

.title{
    color:white;
}

.Helpings{
    text-align: center;
    margin: 3%;
}


h1 {
    font-size: 45px;
    padding-left: 20px;
    color: white;
}

#topHeading {
    padding-left: 40px;
    color: white;

}


